@import './../../../node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css';

.dt-container > .row [class^='col'] > div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
